<div class="container">
    <div class="app-wrapper">
        <select name="breeds" id="" #breedChoiser (change)="onChoise()">
            <option value="">Выберите породу собаки</option>
        
            <option 
                value="{{breed}}"
                *ngFor="let breed of allBreeds"
                [routerLink]=bluetick>
                    {{breed}}
            </option>
        </select>
        <app-breed-viewer [choosenBreed]="choosenBreed"></app-breed-viewer>
    </div>
</div>